@charset "utf-8";
@import url("common/reset.css"); /* The default styles */
/* 通用样式 */
html,body{ 
	max-width: 750px; 
	min-width: 320px;  
	margin: 0 auto; 
}
.header-top{
	width: 100%;
	max-width: 750px; 
	min-width: 320px;  
	margin: 0 auto; 
	height:45px;
	background:#fff;
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	z-index: 10000;
}
.header-top .order-nav{
	min-width:320px; 
	max-width:750px; 
	width: 100%;	
	margin: 0 auto;
	height: 44px;
	line-height: 44px;
	background-color: #fff;
	border-bottom: 1px solid #d7d7d7;
	overflow: hidden;
}
.header-top .order-nav li{
	float: left;
	width: 25%;
	text-align: center;
}
.header-top .order-nav li a{
	display: inline-block;
	color:#333;
	font-size: 14px;
	width:100%;
	position: relative;
}
/*选中的菜单样式*/
.order-nav li.on a{
	color:#ef5555;
}
.order-nav li.on i{
	display: block;
	width: 70%;
	border-bottom: 2px solid #ef5555;
	position: absolute;
	bottom: 0;
	left: 15%;
	right: 15%;
}


.myorder-main{
	padding-top: 46px;
	padding-bottom: 15px;
}
.main-item .mc{
	margin-top: 10px;
	background-color: #FFF;
}
.mc-tit{
	height: 40px;
	font-size: 13px;
	border-bottom: 1px dashed #D4D4D4;
	position: relative;
	margin: 0;
}
.order-unPay-bg{
	display: block;
	width: 4px;
	height: 18px;
	background-color: #F46F74;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
}
.order-number{
	float: left;
	display: inline-block;	
	line-height: 40px;
	margin-left: 13px;
	color: #999;
	overflow: hidden;
}
.order-number em{
	display: inline-block;
	max-width: 180px;
	color: #333;
}
.order-status{
	display: inline-block;
	color: #EF5555;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	position: absolute;
	z-index: 2;
	top: 50%;
	margin-top: -12px;
	right: 13px;
}
.mc-time{
	height: 35px;
	padding: 0 13px;
}
.orderTime-Cancel {
    line-height: 40px;
	font-size: 13px;
	color: #999;
    position: relative;
    padding: 0 15px 0 32px;
}
.orderTime-Cancel::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/icon_downPayment.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px 13px;
    margin-right: 3px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 13px;
}
.orderTime-Cancel .count-down{
	color: #F6B002;
}

.mc-list{	
	margin: 5px 0;
	background-color: #FAFAFA;
	padding-left: 13px;
}
.main-content{
	padding-top: 13px;
}
.mc-price{
	height: 28px;
	padding: 7px 10px;
	border-top: 1px solid #F3F3F3;
}
.mc-price .payment{
	float: left;
	width: 150px;
	line-height: 28px;
	font-size: 13px; 
	color: #555;
	overflow: hidden;
}
.mc-price .payment span{
	color: #EF5555;
	font-size: 15px;
}

.circulation {
    height: 104px;   
    padding-right: 10px; 
    overflow: hidden;
}
.circulation li {
    float: left;
    width: 74px;
    height: 74px;
    margin: 14px 6px;
    border: 1px solid #E2E2E2;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width:320px) and (min-width:310px){	
	.circulation { height: 90px; }
	.circulation li { width: 60px; height: 60px;}
}
.circulation li img{
    width: 100%;
    height: 100%;
}

