@charset "utf-9";
@import "common/reset.css";

html,body{
	min-width:320px;
	max-width:750px;
	margin: 0 auto;
}

.main{
	width:100%;
	background: url(../images/signIn/signIn_bg.png) no-repeat;
	background-size: 100% 100%;
	height:15.6rem;
}

.top{
	margin:0 0.26rem;
	padding: 0.2rem 0;
}
.top p.txt{
	padding-left:0.4rem;
	font-size: 0.24rem;
	color: #e6c3fc;
	background: url(../images/signIn/signIn_antBean.png) no-repeat left center;
	background-size: 0.3rem 0.24rem;
}
.top img{
	display:block;
	width:84%;
	margin: 0.4rem 8% 0;	
}
.top .hint{
	width:100%;
	font-size: 0.3rem;
	color: #e6c3fc;
	text-align:center;
	height: 0.6rem;
	line-height: 0.6rem;
}

.container{
	width: 100%;
	height: 9.2rem;
	background: url(../images/signIn/signIn_path.png) no-repeat left center;
	background-size: 100% 100%;
	margin-top: 0.6rem;
	position:relative;
}
.container .ant {
	position:absolute;
	top: -0.76rem;
	left: 0.5rem;
	z-index:10;
}
.container .ant img{
	width: 1.1rem;
	height: 1.62rem;
}
.container ul li{
	display:inline-block;
	position:absolute;
}

.container ul li .tips{
	width:1.7rem;
	height:0.5rem;
	position:absolute;
	display:none;
	color: #982cd7;
	font-size:0.24rem;
	text-align:center;
	line-height:0.48rem;

}
.container ul li.first .tips{
	background: url(../images/signIn/tip2.png) no-repeat;
	background-size: 100% 100%;
	top:-1.1rem;
	left:1.2rem;
}
.container ul li.two .tips{
	background: url(../images/signIn/tip1.png) no-repeat;
	background-size: 100% 100%;
	top:-1.5rem;
	left:-1.2rem;
}
.container ul li.three .tips{
	background: url(../images/signIn/tip1.png) no-repeat;
	background-size: 100% 100%;
	top:-1.6rem;
	left:-1.6rem;
}
.container ul li.four .tips{
	background: url(../images/signIn/tip2.png) no-repeat;
	background-size: 100% 100%;
	top:-1.1rem;
	left:0.4rem;
}
.container ul li.five .tips{
	background: url(../images/signIn/tip2.png) no-repeat;
	background-size: 100% 100%;
	top:-1.1rem;
	left:0.4rem;
}
.container ul li.six .tips{
	background: url(../images/signIn/tip1.png) no-repeat;
	background-size: 100% 100%;
	top:-1.3rem;
	left:-1.5rem;
}
.container ul li.end .tips{
	background: url(../images/signIn/tip2.png) no-repeat;
	background-size: 100% 100%;
	top:-1.6rem;
	left:1rem;
}
.container ul li p{
	width:1.4rem;
	height:1.44rem;
	background: url(../images/signIn/signIn_btn.png) no-repeat;
	background-size: 100% 100%;
	display:none;
	font-size:0;
	position:absolute;
	left:-0.28rem;
	top:-1.25rem;
}
.container ul li.end p{
	top:-2rem;
}
.container ul li span{font-size: 0;}
.container ul li.doing p{
	display:block;
}
.container ul li.done p{
	display:none;
}

.container ul li.first{
	position:absolute;
	top:1rem;
	left:2.1rem
}
.container ul li.first span{
	display:inline-block;
	width:0.8rem;
	height:0.56rem;
	background: url(../images/signIn/signIn_dayOne_doing.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.first.done span{
	background: url(../images/signIn/signIn_dayOne_done.png) no-repeat;
	background-size: 100% 100%;
}


.container ul li.two{
	position:absolute;
	top:1.96rem;
	left:4.8rem;
}
.container ul li.two span{
	display:inline-block;
	width:0.8rem;
	height:0.56rem;
	background: url(../images/signIn/signIn_dayTwo_do.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.two.doing span{
	background: url(../images/signIn/signIn_dayTwo_doing.png) no-repeat;
	background-size: 100% 100%;
}
.container ul li.two.done span{
	background: url(../images/signIn/signIn_dayTwo_done.png) no-repeat;
	background-size: 100% 100%;
}

.container ul li.three{
	position:absolute;
	top:3.8rem;
	left:6.2rem;
}
.container ul li.three span{
	display:inline-block;
	width:0.6rem;
	height:0.65rem;
	background: url(../images/signIn/signIn_dayThree_do.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.three.doing span{
	background: url(../images/signIn/signIn_dayThree_doing.png) no-repeat;
	background-size: 100% 100%;
}
.container ul li.three.done span{
	background: url(../images/signIn/signIn_dayThree_done.png) no-repeat;
	background-size: 100% 100%;
}

.container ul li.four{
	position:absolute;
	top:4.3rem;
	left:4.54rem;
}
.container ul li.four span{
	display:inline-block;
	width:0.8rem;
	height:0.56rem;
	background: url(../images/signIn/signIn_dayFour_do.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.four.doing span{
	background: url(../images/signIn/signIn_dayFour_doing.png) no-repeat;
	background-size: 100% 100%;
}
.container ul li.four.done span{
	background: url(../images/signIn/signIn_dayFour_done.png) no-repeat;
	background-size: 100% 100%;
}

.container ul li.five{
	position:absolute;
	top:3.7rem;
	left:2.4rem;
}
.container ul li.five span{
	display:inline-block;
	width:0.8rem;
	height:0.56rem;
	background: url(../images/signIn/signIn_dayFive_do.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.five.doing span{
	background: url(../images/signIn/signIn_dayFive_doing.png) no-repeat;
	background-size: 100% 100%;
}
.container ul li.five.done span{
	background: url(../images/signIn/signIn_dayFive_done.png) no-repeat;
	background-size: 100% 100%;
}

.container ul li.six{
	position:absolute;
	top:6rem;
	left:2.36rem;
}
.container ul li.six span{
	display:inline-block;
	width:0.8rem;
	height:0.56rem;
	background: url(../images/signIn/signIn_daySix_do.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.six.doing span{
	background: url(../images/signIn/signIn_daySix_doing.png) no-repeat;
	background-size: 100% 100%;
}
.container ul li.six.done span{
	background: url(../images/signIn/signIn_daySix_done.png) no-repeat;
	background-size: 100% 100%;
}

.container ul li.end{
	position:absolute;
	top:6.6rem;
	left:4.6rem;
}
.container ul li.end span{
	display:inline-block;
	width:0.8rem;
	height:0.56rem;
	background: url(../images/signIn/signIn_daySeventh_do.png) no-repeat;
	background-size: 100% 100%;
	margin:0 auto;
}
.container ul li.end.doing span{
	background: url(../images/signIn/signIn_daySeventh_doing.png) no-repeat;
	background-size: 100% 100%;
}
.container ul li.end.done span{
	background: url(../images/signIn/signIn_daySeventh_done.png) no-repeat;
	background-size: 100% 100%;
}

.redPacket{
	width:1.8rem;
	height:1.4rem;
	background: url(../images/signIn/signIn_redPacket.png) no-repeat;
	background-size: 100% 100%;
	position:absolute;
	top:-0.76rem;
	left:-0.24rem;
}

.regular{
	width: 100%;
}
.regular img{
	width:60%;
	margin: 0 20%;
}
.regular ul{
	width:82%;
	margin: 20px 9%;
}
.regular ul li{
	font-size: 0.24rem;
	color: #fff;
	line-height:0.44rem;
}



.layui-Complete {
	background-color: transparent !important;
	box-shadow: 1px 1px 50px rgba(0,0,0,0) !important;
}
.layui-Complete img {
    width: 248px;
    height: 279px;
    margin: 0 25px;
}