@charset "utf-8";
@import url("common/reset.css"); /* The default styles */

html, body {
	width: 100%;
	max-width: 750px; 
	min-width: 320px;
	/*height: 100%;  */
	margin: 0 auto; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#signInBox {
	height: 15.72rem;
	background: url(../images/signIn/signIn_bg.png) no-repeat;
	background-size: 100%;
}

.signIn-thead {
	height: 2.5rem;
	padding: .26rem;
}
.signIn-thead > .antBean {
	line-height: .4rem;
	padding-left: .4rem;
	color: #E6C3FC;
	background: url(../images/signIn/signIn_antBean.png) no-repeat left center;
	background-size: .26rem;
}
.signIn-thead > .antBean > b {
	font-weight: 700;
}
.signIn-thead > .title {
	display: block;
	width: 5.66rem;
	height: .81rem;
	margin: .28rem auto .06rem;
}
.signIn-thead > .text {
	font-size: .3rem;
	color: #E6C3FC;
	text-align: center;
}





.signIn-path {
	width: 100%;
	height: 9.23rem;
	background: url(../images/signIn/signIn_path.png) no-repeat;
	background-size: 100%;
	position: relative;
}
.path-items {
	width: 100%;
	height: 8.38rem;
	padding: .2rem 0 .66rem;
	position: relative;
}
.path-items > .Ant-Man {
	width: 1.06rem;
	height: 1.58rem;
	position: absolute;
	left: .46rem;
	top: -.6rem;
	z-index: 99;
}
.path-items > .Ant-Man > img {
	width: 1.06rem;
	height: 1.58rem;
}

.datyMain > li > span {
	display: block;
	font-size: 0;
	
}
.datyMain > li > .signIn-Btn {	
	display: none;
	width: 1.31rem;
	height: 1.37rem;
	background: url(../images/signIn/signIn_btn.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: .08rem;
	top: -.36rem;
}
/*.datyMain > .startLine {
	width: 1.5rem;
	height: 1.66rem;
	position: absolute;
	left: 0;
	top: .2rem;
}*/

/* 第一天 */
.datyMain > .dayOne {
	width: 1.36rem;
	height: 1.6rem;	
	padding-top: .56rem;
	position: absolute;
	left: 1.8rem;
	top: .24rem;
}
.datyMain > .dayOne > .dayTxt {
	width: .76rem;
	height: .44rem;
	margin: .58rem auto;
	overflow: hidden;
}
.datyMain > li.dayOne.doing > .dayTxt {	
	background: url(../images/signIn/signIn_dayOne_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.dayOne.done > .dayTxt {	
	background: url(../images/signIn/signIn_dayOne_done.png) no-repeat;
	background-size: 100% 100%;
}

/* 第二天 */
.datyMain > .dayTwo {
	width: 1.34rem;
	height: 1.58rem;
	padding-top: .56rem;
	position: absolute;
	left: 4.5rem;
	top: 1.1rem;
}
.datyMain > .dayTwo > .dayTxt {
	width: .83rem;
	height: .45rem;
	background: url(../images/signIn/signIn_dayTwo_do.png) no-repeat;
	background-size: 100% 100%;
	margin: .58rem auto;
	overflow: hidden;
}
.datyMain > li.dayTwo.doing > .dayTxt {	
	background: url(../images/signIn/signIn_dayTwo_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.dayTwo.done > .dayTxt {	
	background: url(../images/signIn/signIn_dayTwo_done.png) no-repeat;
	background-size: 100% 100%;
}

/* 第三天 */
.datyMain > .dayThree {
	width: 1.26rem;
	height: 1.8rem;
	padding-top: .56rem;
	position: absolute;
	left: 5.84rem;
    top: 3rem;
}
.datyMain > .dayThree > .dayTxt {
	width: .6rem;
	height: .85rem;
	background: url(../images/signIn/signIn_dayThree_do.png) no-repeat;
	background-size: 100% 100%;
	margin: .475rem auto;
	overflow: hidden;
}
.datyMain > li.dayThree.doing > .dayTxt {	
	background: url(../images/signIn/signIn_dayThree_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.dayThree.done > .dayTxt {	
	background: url(../images/signIn/signIn_dayThree_done.png) no-repeat;
	background-size: 100% 100%;
}


/* 第四天 */
.datyMain > .dayFour {
	width: 1.5rem;
	height: 1.48rem;
	padding-top: .56rem;
	position: absolute;
	left: 4.32rem;
	top: 3.52rem;
}
.datyMain > .dayFour > .dayTxt {
	width: .81rem;
	height: .46rem;
	background: url(../images/signIn/signIn_dayFour_do.png) no-repeat;
	background-size: 100% 100%;
	margin: .475rem auto;
	overflow: hidden;
}
.datyMain > li.dayFour.doing > .dayTxt {	
	background: url(../images/signIn/signIn_dayFour_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.dayFour.done > .dayTxt {	
	background: url(../images/signIn/signIn_dayFour_done.png) no-repeat;
	background-size: 100% 100%;
}

/* 第五天 */
.datyMain > .dayFive {
	width: 1.4rem;
	height: 1.74rem;
	padding-top: .56rem;
	position: absolute;
	left: 2.1rem;
	top: 2.96rem;
}
.datyMain > .dayFive > .dayTxt {
	width: .81rem;
	height: .46rem;
	background: url(../images/signIn/signIn_dayFive_do.png) no-repeat;
	background-size: 100% 100%;
	margin: .475rem auto;
	overflow: hidden;
}
.datyMain > li.dayFive.doing > .dayTxt {	
	background: url(../images/signIn/signIn_dayFive_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.dayFive.done > .dayTxt {	
	background: url(../images/signIn/signIn_dayFive_done.png) no-repeat;
	background-size: 100% 100%;
}

/* 第六天 */
.datyMain > .daySix {
	width: 1.4rem;
	height: 1.5rem;
	padding-top: .8rem;
	position: absolute;
	left: 2.06rem;
    top: 5.04rem;
}
.datyMain > .daySix > .dayTxt {
	width: .81rem;
	height: .46rem;
	background: url(../images/signIn/signIn_daySix_do.png) no-repeat;
	background-size: 100% 100%;
	margin: .475rem auto;
	overflow: hidden;
}
.datyMain > li.daySix.doing > .dayTxt {	
	background: url(../images/signIn/signIn_daySix_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.daySix.done > .dayTxt {	
	background: url(../images/signIn/signIn_daySix_done.png) no-repeat;
	background-size: 100% 100%;
}

/* 第七天 */
.datyMain > .daySeventh {
	width: 1.4rem;
	height: 1.56rem;
	padding-top: .8rem;
	position: absolute;
	left: 4.28rem;
    top: 5.64rem;
}
.datyMain > .daySeventh > .dayTxt {
	width: .81rem;
	height: .46rem;
	background: url(../images/signIn/signIn_daySeventh_do.png) no-repeat;
	background-size: 100% 100%;
	margin: .475rem auto;
	overflow: hidden;
}
.datyMain > .daySeventh > .redPacket {
	width: 2.24rem;
	height: 1.62rem;
	background: url(../images/signIn/signIn_redPacket.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: .1rem;
}
.datyMain > li.daySeventh > .signIn-Btn {
	top: -1rem;
}
.datyMain > li.daySeventh.doing > .dayTxt {	
	background: url(../images/signIn/signIn_daySeventh_doing.png) no-repeat;
	background-size: 100% 100%;
}
.datyMain > li.daySeventh.done > .dayTxt {	
	background: url(../images/signIn/signIn_daySeventh_done.png) no-repeat;
	background-size: 100% 100%;
}


.datyMain > li.doing > .signIn-Btn {
	display: block;
}
.datyMain > li.done > .signIn-Btn,
.datyMain > li.done > .redPacket {
	display: none;
}



.signIn-rule {
	padding: 0 .7rem;
}

.signIn-rule > img.ruleTitle {
	display: block;
	width: 4.27rem;
	height: .29rem;
	margin: 0 auto;
}
.signIn-rule > ul.ruleText {
	padding: .36rem 0;
}
.signIn-rule > ul.ruleText > li {
	line-height: .4rem;
	color: #FFF;
	font-size: .24rem;
}



/* 弹框 */
.layui-layer-tips .layui-layer-content {
	color: #58187E !important;
	line-height: 18px !important;
	border-radius: 22px !important;
	padding: 3px 12px !important;
}
.layui-layer-tips i.layui-layer-TipsL, 
.layui-layer-tips i.layui-layer-TipsR {
	top: 4px !important;
}
.layui-layer-tips i.layui-layer-TipsR {
	left: -5px !important;
}
.layui-layer-tips i.layui-layer-TipsL {
	right: -4px !important;
}
.layui-Complete {
	background-color: transparent !important;
	box-shadow: 1px 1px 50px rgba(0,0,0,0) !important;
}
.layui-Complete img {
	width: 248px;
	height: 279px;
}